 {% extends 'Main.html' %} {% block Main %}
<!-- Form Start -->
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Computer</h4>
            <p class="card-description"> Add New Computer </p>
            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">Name Of Computer</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">User Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>

            </form>
        </div>
    </div>
</div>
<!-- Form End -->
{% endblock Main %}