{% extends 'Main.html' %} {% block Main %} {% if messages %}
<script>
    alert("{{ message }}")
</script> {% endif %} {% csrf_token %}
<div class="main-panel">
    <div class="content-wrapper">


        <div class="row ">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Computers</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <!-- <th> sl_no </th> -->
                                        <th> Computer Name </th>
                                        <th> Host </th>
                                        <th> username </th>

                                        <th> Scan</th>
                                        <th> Delete </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% if host %} {% for host in host %}
                                    <tr>
                                        <!-- <td> Dashboard</td> -->
                                        <td> {{host.NAME}}</td>
                                        <td> {{host.HOST}}</td>
                                        <td> {{host.USER}} </td>


                                        <td>
                                            <a href="/Scan/{{host.HOST}}/">
                                                <div class="badge badge-outline-success">Scan</div>
                                            </a>
                                        </td>
                                        <td>

                                            <a href="/Delete/{{host.HOST}}/">
                                                <div class="badge badge-outline-danger">Delete</div>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %} {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="row">
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">

                </div>
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">

                </div>
            </div>
            <div class="col-md-12 col-xl-4 grid-margin stretch-card">
                <div class="card">

                </div>
            </div>
        </div> -->


    </div>
    {% include "Footer.html" %}
</div>

{% endblock Main %}