{% load static %}

<!-- Favicon -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />




    <link rel="stylesheet" href="{% static 'vendor/alertify-js/build/css/alertify.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/alertify-js/build/css/themes/bootstrap.css' %}" />
    <script src="{% static 'vendor/alertify-js/build/alertify.js' %}"></script>
    {% comment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> {% endcomment %}

    <link rel="stylesheet" href="{% static 'node_modules/xterm/css/xterm.css' %}" />
    <script src="{% static 'node_modules/xterm/lib/xterm.js' %}"></script>
</head>
</head>

<body>
    <div class="container-scroller">

        <!-- Content Start -->
        {% include "Navbar.html" %} {% block Main %} {% endblock Main %}

        <!-- Content End -->


    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/custome.js' %}"></script>
    <!-- End custom js for this page -->
</body>

</html>